/** Variáveis e reset: */

:root{
    --pretoEsverdeado: rgb(0, 10, 0);
    --cinzaEsverdeado: rgb(2, 30, 2);
    --verde: green;
    --verdeClaro: rgb(0, 180, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/** Elementos base: */

body{
    background-color: var(--pretoEsverdeado);
    font-family: Consolas, Roboto;
    color: var(--verdeClaro);
}

header{
    padding: 1.5%;
    background-color: var(--cinzaEsverdeado);
    border-bottom: 0.5px solid;
}

a{
    color: var(--verde);
    font-weight: bold;
    font-size: 20.5px;
}

/** Barra de navegação: */

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    padding: 0.15%;
}

.logo a{
    color: var(--verdeClaro);
    font-size: 30px;
    letter-spacing: 1px;
    text-decoration: none;
}

u{
    text-decoration: underline;
    color: var(--verde);
}

.login{
    background-color: black;
    color: var(--verde);
    border: 1px solid;
    padding: 10px 15px;
    font-size: 17.5px;
    cursor: pointer;
    transition: 0.5s ease;
    border-radius: 55px;
    font-weight: bold;
    width: auto;
}

.login em{
    vertical-align: middle;
}

.login:hover{
    background-color: var(--verdeClaro);
    color: black;
    border: 1px solid var(--verdeClaro);
}

.fa-user-circle{
    font-size: 25.5px;
}

nav a{
    margin-right: 25px;
    text-decoration: none;
}

nav a:hover{
    color: var(--verdeClaro);
    transition: ease 0.3s;
}

/**Carrosel:*/

#destaques{
    margin: 5% 1%;
}

.tituloDestaque{
    font-weight: bold;
    margin-left: 1.5%;
}

.carousel-item{
    text-align: center;
    transition: ease-in-out 0.5s;
}

.imagem-carrosel{
    height: 98.5%;
    width: 98.5%;
    border-radius: 25px;
}